/* Import Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.counter{
    position: relative;
    width: 150px;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter > .num{
    font-size: 40px;
    color: skyblue;
    display: block;
    position: absolute;
    top: 100px;
    transform-origin: 10px -25px;
    animation: spinNumber 1s infinite;
}

#displaying{
    transform: rotate(180deg)
}

@keyframes spinNumber{
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#replay{
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    font-family: inherit;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}