/* Import Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ddd;
    font-family: "Muli", "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container p, h2{
    margin: 5px;
}

.numbers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
}

.number {
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 75px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 100px;
    -moz-appearance: textfield;
}

.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number:valid {
    border: 1px solid rgb(0, 184, 245);
    box-shadow: 3px 3px 5px lightblue;
    color:rgb(59, 193, 238);
}